
        <footer class="footer mt-auto py-3 bg-white text-center">
            <div class="container">
        <span class="text-muted" style="color : #babace !important">
            Copyright © @currentYear <a href="javascript:void(0);" class="text-dark fw-semibold">UrbnTeki</a>.
                    Designed with <span class="bi bi-heart-fill text-danger"></span> by <a href="javascript:void(0);">
                <span class="fw-semibold text-primary text-decoration-underline">Aviv Solutions Inc</span>
                    </a> All
                    rights
                    reserved
                </span>
            </div>
        </footer>


@code {
    private int currentYear;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentYear = DateTime.Now.Year;
    }
}